@tailwind base;
@tailwind components;
@tailwind utilities;

/* Varsayılan Ayarlar */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #030712;
    /* AGORA Siyahı */
    color: #f3f4f6;
    overflow: hidden;
    /* Scrollbar çıkmasını engelle */
}